aLink
: 
""
accessKey
: 
""
attributeStyleMap
: 
StylePropertyMap {size: 0}
attributes
: 
NamedNodeMap {0: class, 1: id, class: class, id: id, length: 2}
autocapitalize
: 
""
autofocus
: 
false
background
: 
""
baseURI
: 
"https://arca.gob.ar/landing/"
bgColor
: 
""
childElementCount
: 
14
childNodes
: 
NodeList(35) [aside, text, a#skipnav.sr-only, text, comment, text, header, text, div#contSubMenuAccesos, text, main#main, div.carousel-tablist-highlight, text, comment, text, style, text, footer.p-y-2, text, comment, text, comment, text, comment, text, script, text, script, text, comment, text, script#f5_cspm, iframe, script, div]
children
: 
HTMLCollection(14) [aside, a#skipnav.sr-only, header, div#contSubMenuAccesos, main#main, div.carousel-tablist-highlight, style, footer.p-y-2, script, script, script#f5_cspm, iframe, script, div, skipnav: a#skipnav.sr-only, contSubMenuAccesos: div#contSubMenuAccesos, main: main#main, f5_cspm: script#f5_cspm]
classList
: 
DOMTokenList ['sticky-header', value: 'sticky-header']
className
: 
"sticky-header"
clientHeight
: 
698
clientLeft
: 
0
clientTop
: 
0
clientWidth
: 
958
contentEditable
: 
"inherit"
currentCSSZoom
: 
1
dataset
: 
DOMStringMap {}
dir
: 
""
draggable
: 
false
elementTiming
: 
""
enterKeyHint
: 
""
firstChild
: 
aside
firstElementChild
: 
aside
hidden
: 
false
id
: 
"simple"
inert
: 
false
innerHTML
: 
"<aside aria-label=\"carousel pause/play control\"
innerText
: 
"Pausar el carousel del portal principal de AFIP\nBienvenido al portal principal de ARCA. Al presionar este enlace vas a evitar las herramientas de navegación y pasar al contenido.\nPortal principal de la Agencia de Recaudación y Control Aduanero (ARCA)\n 2024 - Año de la Defensa de la Vida, la Libertad y la Propiedad\t\nINSTITUCIONAL\nCONTRIBUYENTES \nTURNOS \nAYUDA \nCarousel content with 0 slides.\n\nA carousel is a rotating set of images, rotation stops on keyboard focus on carousel tab controls or hovering the mouse pointer over images. Use the tabs or the previous and next buttons to change the displayed slide.\n\nPrevious\nNext\n Ingresar con Clave Fiscal\nIniciar sesión\nRecuperar Clave Fiscal\nComenzar inscripción\nConstancia de CUIT\nDÍAS\n15\nHORAS\n11\nMINUTOS\n36\nSEGUNDOS\n12\nMÁS CONSULTADOS\nClave Fiscal\nMonotributo\nPresentaciones Digitales\nABC – Consultas frecuentes\nMicrositios\nVencimientos\nGuías paso a paso\nAportes en línea\nFormularios\nNOVEDADES\nARCA subastará muebles\nVer más\nIngreso y egreso de obras de arte\nVer más\nARCA modifica las estampillas fiscales de los cigarrillos para favorecer la competencia\nVer más\nFacturador: ahora todos los monotributistas podrán emitir comprobantes desde el celular\nVer más\nVer todas las novedades\nFooter ARCA\nIr la pagina de ARCA en Twitter\nConocer la pagina de ARCA en Instagram\nVisitar la pagina de ARCA en Facebook\nDirigirme a la pagina de ARCA en Linkedin\nNavegar a la pagina de ARCA en Youtube\nNavegar a la pagina de ARCA en TikTok\nNavegar a la pagina de ARCA en WhatsApp\nNavegar a la pagina de ARCA en Telegram\nInstitucional\nDenuncias\nContactos\nTus derechos y obligaciones\nTransparencia activa\nExcombatientes de Malvinas\nFormularios\nFacturación apócrifa\nConstatación de comprobantes"
inputMode
: 
""
isConnected
: 
true
isContentEditable
: 
false
lang
: 
""
lastChild
: 
div
lastElementChild
: 
div
link
: 
""
localName
: 
"body"
namespaceURI
: 
"http://www.w3.org/1999/xhtml"
nodeName
: 
"BODY"
nodeType
: 
1
nonce
: 
""
offsetHeight
: 
698
offsetLeft
: 
0
offsetTop
: 
0
offsetWidth
: 
958
outerHTML
: 
"<body class=\"sticky-header\" id=\"simple\"><asid
outerText
: 
"Pausar el carousel del portal principal de AFIP\nBienvenido al portal principal de ARCA. Al presionar este enlace vas a evitar las herramientas de navegación y pasar al contenido.\nPortal principal de la Agencia de Recaudación y Control Aduanero (ARCA)\n 2024 - Año de la Defensa de la Vida, la Libertad y la Propiedad\t\nINSTITUCIONAL\nCONTRIBUYENTES \nTURNOS \nAYUDA \nCarousel content with 0 slides.\n\nA carousel is a rotating set of images, rotation stops on keyboard focus on carousel tab controls or hovering the mouse pointer over images. Use the tabs or the previous and next buttons to change the displayed slide.\n\nPrevious\nNext\n Ingresar con Clave Fiscal\nIniciar sesión\nRecuperar Clave Fiscal\nComenzar inscripción\nConstancia de CUIT\nDÍAS\n15\nHORAS\n11\nMINUTOS\n36\nSEGUNDOS\n12\nMÁS CONSULTADOS\nClave Fiscal\nMonotributo\nPresentaciones Digitales\nABC – Consultas frecuentes\nMicrositios\nVencimientos\nGuías paso a paso\nAportes en línea\nFormularios\nNOVEDADES\nARCA subastará muebles\nVer más\nIngreso y egreso de obras de arte\nVer más\nARCA modifica las estampillas fiscales de los cigarrillos para favorecer la competencia\nVer más\nFacturador: ahora todos los monotributistas podrán emitir comprobantes desde el celular\nVer más\nVer todas las novedades\nFooter ARCA\nIr la pagina de ARCA en Twitter\nConocer la pagina de ARCA en Instagram\nVisitar la pagina de ARCA en Facebook\nDirigirme a la pagina de ARCA en Linkedin\nNavegar a la pagina de ARCA en Youtube\nNavegar a la pagina de ARCA en TikTok\nNavegar a la pagina de ARCA en WhatsApp\nNavegar a la pagina de ARCA en Telegram\nInstitucional\nDenuncias\nContactos\nTus derechos y obligaciones\nTransparencia activa\nExcombatientes de Malvinas\nFormularios\nFacturación apócrifa\nConstatación de comprobantes"
ownerDocument
: 
document
parentElement
: 
html
parentNode
: 
html
part
: 
DOMTokenList [value: '']
previousElementSibling
: 
head
previousSibling
: 
text
scrollHeight
: 
2949
scrollLeft
: 
0
scrollTop
: 
0
scrollWidth
: 
958
slot
: 
""
spellcheck
: 
true
style
: 
CSSStyleDeclaration {accentColor: '', additiveSymbols: '', alignContent: '', alignItems: '', alignSelf: '', …}
tabIndex
: 
-1
tagName
: 
"BODY"
text
: 
""
textContent
: 
"Pausar el carousel del portal principal de AFIP\n
textprediction
: 
true
title
: 
""
translate
: 
true
vLink
: 
""
virtualKeyboardPolicy
: 
""
writingSuggestions
: 
"true"